<h2>Excluir cliente</h2>

<h3>Deseja realmente excluir o cliente selecionado?</h3>

<button class="btn btn-danger" onclick="Delete(1);">Sim</button>
<button class="btn btn-primary" onclick="Delete(0);">Não</button>

<script>
    function Delete(id)
    {
        if (id == 0)
        {
            window.location.href = window.location.origin + "/Home/Index" + id;
        }
        else
        {
            window.location.href = window.location.origin + "/Home/DelCustomer" + '@ViewData["ClienteID"]';
        }
    }
</script>